<div id="container">
  <button [ngClass]="[btnStyle]" (click)="submit()">Click</button>
  <div class="side">
    <div class="logo">
      <img src="https://c.tenor.com/JLjSirvP8bIAAAAd/umbrella-corp-resident.gif" alt="Logo" />
    </div>
    
    <ul [ngClass]="[slickBar, btnStyle2]">
      <li routerLink="/home">
        <img src="/assets/img/home-solid.svg" alt="" />
        <span [ngClass]="[iconName]">Home</span>
      </li>
      <li routerLink="/team">
        <img src="/assets/img/social.svg" alt="" />
        <span [ngClass]="[iconName]">Team</span>
      </li>
      <li routerLink="/calendar">
        <img src="/assets/img/sceduled.svg" alt="" />
        <span [ngClass]="[iconName]">Calendar</span>
      </li>
      <li routerLink="/documents">
        <img src="/assets/img/draft.svg" alt="" />
        <span [ngClass]="[iconName]">Documents</span>
      </li>
      <li routerLink="/projects">
        <img src="/assets/img/starred.svg" alt="" />
        <span [ngClass]="[iconName]">Projects</span>
      </li>
    </ul>
    

    <div class="profile" [ngClass]="[profile]">
      <img src="https://picsum.photos/200" alt="" />

      <div class ='details' [ngClass]="[ditail]">
        <div class ='name'>
          <h4>Jhon Doe</h4>
          <a href="/#">view profile</a>
        </div>
        
        <button class="logout">
          <img src="/assets/img/power-off-solid.svg" alt="logout" />
        </button>
        
      </div>
    </div>

  </div>
</div>
<router-outlet></router-outlet>
