

h1 {
    font-size: calc(2rem + 2vw);
    background: linear-gradient(to right, #803bec 30%, #1b1b1b 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -350px;
  
  
  }